@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";	
@import "~tailwindcss/utilities.css";

@import "suneditor/dist/css/suneditor.min.css";


.disable-outline:focus {
    outline: 0;
    border-color: rgba(111,111,111,0);
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.icon-hover-color-red:hover {
    filter: invert(7%) sepia(84%) saturate(7499%) hue-rotate(6deg) brightness(111%) contrast(109%);
}